.bg-mynav {
  background-color: #7d6ecf;
}

body {
  font-size: 1.25rem;
  background-color: #f6f8fa;
}

td {
  line-height: 3rem;
}

.container {
  margin-top: 5%;
}

.card-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 50px;
  margin-left: 200px;
  margin-right: 200px;
}

.card:hover {
  filter: drop-shadow(0 0 0.75rem #7a67e2);
}

.card-text {
  font-size: 16px;
}

.navbar-brand {
  margin: 0 40px;
  padding: 5px 10px;
  border: 1pt solid #fff;
  border-radius: 5px;
}
